.photo-post-form {
  max-width: 900px;
  width: 75%;
  padding: 1rem;
  box-shadow: 0 0 3px 3px lightblue;
  margin: 0 auto;

  .form-field {

    padding: 10px 0px;

    > label {
      width: 150px;
    }

    > input, > textarea {
      width: 300px;
    }
  }
}
